/*style.css*/

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}

.body {
  margin-right: 20px;
  margin-left: 20px;
}

.alertGrid {
  margin-right: 20px;
  margin-left: 20px;
  margin-top: 5px;
  margin-bottom: 0px;
}

.button {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  float: right;
}

.filter {
  margin-right: 20px;
  margin-left: 20px;
  clear: both;
}

.grid {
  height: 850px;
  margin-right: 20px;
  margin-left: 20px;
  clear: both;
  text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right: 0;
    padding-left: 1px;
}

.no-gutter-filter > [class*='col-'] {
    padding-right: 5px;
    padding-left: 5px;
}

.form-inline-margin-group > [class*='form-group'] {
	margin-right: 10px;
    margin-left: 10px;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}

.disable-clear-input::-ms-clear {
    display: none;
}

.form-inline .form-group input {
    width:100px;
}

.form-inline .form-group select {
    width:100px;
}

input.ng-pristine {
    background-color: white;
}
input.ng-dirty {
    background-color: white;
}
input.ng-valid {
    background-color: white;
}
input.ng-invalid {
    border:1px solid #a94442;
}

@media print {
    #main { display: none; }
}