<div id="message-dialog">
  <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancel()"><span aria-hidden="true">&times;</span></button>
      <h4 class="modal-title">{{messageType}}</h4>
  </div>
  <div class="modal-body" id="modal-body">
    {{message}}
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">{{ 'OK' | translate }}</button>
    <button class="btn btn-default" ng-click="cancel()">{{ 'CANCLE' | translate }}</button>
  </div>
</div>