<!doctype html>
<html ng-app="app">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css" type="text/css"/>
	<link rel="stylesheet" href="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.css" type="text/css"/>
	<link rel="stylesheet" href="styles/ng-grid.css" type="text/css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bower-angular-i18n-master/angular-locale_zh-cn.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
	<script src="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="scripts/app.js"></script>
	<script src="scripts/controllers/createStudent.js"></script>
	<script src="scripts/controllers/msgDialog.js"></script>
    
	
  </head>
  <body class="body">
    <div ui-i18n="{{lang}}" id="main" ng-controller="MainCtrl">
      <div>
        <alert type="{{alert.type}}" close="closeAlert()" class="alertGrid" ng-show="alert.show">{{alert.msg}}</alert>
      </div>
	  <div id="button" class="button">
	    <button type="button" id="create" class="btn btn-success" ng-click="create()">{{ 'CREATE' | translate }}</button>
	    <button type="button" id="view" class="btn btn-success" ng-click="view()">{{ 'VIEW' | translate }}</button>
        <button type="button" id="edit" class="btn btn-success" ng-click="edit()">{{ 'EDIT' | translate }}</button>
        <button type="button" id="delete" class="btn btn-success" ng-click="deleteChildren()">{{ 'DELETE' | translate }}</button>
        <button type="button" id="refresh" class="btn btn-success" ng-click="refresh()">{{ 'REFRESH' | translate }}</button>
        <button type="button" id="refresh" class="btn btn-info" ng-click="filterCollapsed = !filterCollapsed">{{ 'FILTER' | translate }}</button>
	  </div>
	  <div collapse="filterCollapsed" class="filter">
		<div class="well well-lg">

			<div class="form-inline row form-inline-margin-group" style="margin-bottom: 20px;">
		      	<div class="form-group">
				  <label for="filter_name">{{ 'NAME' | translate }}:</label>
				  <input ng-model="filter.name" type="text" class="form-control input-sm disable-clear-input" id="filter_name" placeholder="">
				  <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="filter.name= ''" ng-show="!!filter.name"/>           
		      	</div>
			  	<div class="form-group">
				  <label for="filter_grade">{{ 'GRADE' | translate }}:</label>
                  <select  ng-model="filter.grade" class="form-control input-sm" id="filter.grade">
                      <option value="0">{{ 'GRADE_ONE' | translate }}</option>
                      <option value="1">{{ 'GRADE_TWO' | translate }}</option>
                      <option value="2">{{ 'GRADE_THREE' | translate }}</option>
                  </select>
		      	</div>
			  	<div class="form-group">
				  <label for="filter_class">{{ 'CLASS' | translate }}:</label>
                  <select  ng-model="filter.className" class="form-control input-sm" id="filter.className">
                      <option value="0">{{ 'CLASS_ONE' | translate }}</option>
                      <option value="1">{{ 'CLASS_TWO' | translate }}</option>
                      <option value="2">{{ 'CLASS_THREE' | translate }}</option>
                      <!-- option value="3">{{ 'CLASS_FOUR' | translate }}</option -->
                  </select>
		      	</div>
			  <div class="form-group">
				  <label for="filter_gender">{{ 'GENDER' | translate }}:</label>
				  <select  ng-model="filter.gender" class="form-control input-sm" id="filter_gender">
					  <option value="0">{{ 'GENDER_MALE' | translate }}</option>
					  <option value="1">{{ 'GENDER_FEMALE' | translate }}</option>
				  </select>
	          </div>
	          <div class=" form-group">
			     <label >{{ 'BIRTHDAY' | translate }}:</label>
			     <label >{{ 'FROM' | translate }}</label>
			     <div class="input-group">
	                <input ng-model="filter.birthdayFrom" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.fromOpened" min-date="datepicker.minDate" max-date="datepicker.maxDate" date-disabled="disabled(date, mode)" placeholder="" ng-disabled="true" close-text="{{ 'DONE' | translate }}" current-text="{{ 'CURRENT' | translate }}" clear-text="{{ 'CLEAR' | translate }}" style="width:100px;"/>
	            	<span class="input-group-btn">
                		<button type="button" class="btn btn-default" ng-click="datepicker.openFrom($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                	</span>
			  	 </div>
			     <label >{{ 'TO' | translate }}</label>
			     <div class="input-group">
	                <input ng-model="filter.birthdayTo" type="text" class="form-control" datepicker-popup="{{datepicker.format}}" is-open="datepicker.toOpened" min-date="datepicker.minDate" max-date="datepicker.maxDate" date-disabled="disabled(date, mode)" placeholder="" ng-disabled="true" close-text="{{ 'DONE' | translate }}" current-text="{{ 'CURRENT' | translate }}" clear-text="{{ 'CLEAR' | translate }}" style="width:100px;"/>
	            	<span class="input-group-btn">
                		<button type="button" class="btn btn-default" ng-click="datepicker.openTo($event)"><i class="glyphicon glyphicon-calendar"></i></button>
                	</span>
			  	 </div> 	
	          </div>
	          <div class="form-group">
				  <label for="filter_id">{{ 'ID_CARD_NO.' | translate }}:</label>
				  <input ng-model="filter.id" type="text" class="form-control input-sm disable-clear-input" style="width:160px;" id="filter_id" placeholder="">
				  <span id="searchclear" class="glyphicon glyphicon-remove-circle" ng-click="filter.id= ''" ng-show="!!filter.id"/>    
		      </div>
	          <!--div class="form-group col-xs-2 no-gutter-filter">
				  <label for="filter_nation">{{ 'NATION' | translate }}:</label>
					<input ng-model="child.basicInfo.className" type="text" class="form-control input-sm" id="filter_nation">
		      </div-->
	        </div>

	        <div class="row">    
		      <button type="button" id="filter" class="btn btn-default" ng-click="doFilter()" style="float: right;">{{ 'GO' | translate }}</button>
	        </div>

		</div> 
	  </div>
      <div id="grid" ui-grid="gridOptions" ui-grid-paging ui-grid-exporter ui-grid-selection class="grid"></div>
    </div>
  </body>
</html>