<!doctype html>
<html ng-app="MyApp">
  <head>
    <!--script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-touch.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular-animate.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.js"></script-->
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.css" />
	<link rel="stylesheet" href="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.css" />
	<link rel="stylesheet" href="styles/ng-grid.css">
    <!--script src="3.0.0-rc.16/ui-grid.js"></script>
    <script src="3.0.0-rc.16/ui-grid.css"></script-->
	<script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-animate/angular-animate.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.js"></script>
    <script src="bower_components/angular-touch/angular-touch.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.js"></script>
	<script src="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
	<!--  script src="http://ui-grid.info/docs/grunt-scripts/csv.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/pdfmake.js"></script>
    <script src="http://ui-grid.info/docs/grunt-scripts/vfs_fonts.js"></script-->
    <script src="scripts/app.js"></script>
	<script src="scripts/controllers/createStudent.js"></script>
	
  </head>
  <body class="body">
    <div id="main" class="main" ng-controller="MainCtrl">
      <div>
        <alert type="{{alert.type}}" close="closeAlert()" class="alert" ng-show="alert.show">{{alert.msg}}</alert>
      </div>
	  <div id="button" class="button">
	    <button type="button" id="create" class="btn btn-success" ng-click="create()">Create</button>
        <button type="button" id="edit" class="btn btn-success" ng-click="edit()">Edit</button>
        <button type="button" id="delete" class="btn btn-success" ng-click="deleteChildren()">Delete</button>
        <button type="button" id="refresh" class="btn btn-success" ng-click="refresh()">Refresh</button>
	  </div>
      <div id="grid" ui-grid="gridOptions" ui-grid-paging ui-grid-exporter ui-grid-selection class="grid"></div>
    </div>
  </body>
</html>