<!doctype html>
<html ng-app="app">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <head>
	<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css"/>
	<link rel="stylesheet" href="bower_components/angular-ui-grid/ui-grid.min.css" type="text/css"/>
	<link rel="stylesheet" href="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.css" type="text/css"/>
	<link rel="stylesheet" href="styles/ng-grid.css" type="text/css">
	<script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/bower-angular-i18n-master/angular-locale_zh-cn.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/angular-animate/angular-animate.min.js"></script>
    <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.min.js"></script>
    <script src="bower_components/angular-route/angular-route.min.js"></script>
    <script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="bower_components/angular-touch/angular-touch.min.js"></script>
	<script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>
	<script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
	<script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
	<script src="bower_components/jquery.loadmask.spin/jquery.loadmask.spin.js"></script>
	<script src="bower_components/spin.js/spin.js"></script>
    <script src="bower_components/angular-translate/angular-translate.min.js"></script>
    <script src="bower_components/angular-translate-loader-static-files/angular-translate-loader-static-files.min.js"></script>
    <script src="scripts/app.js"></script>
	<script src="scripts/controllers/createStudent.js"></script>
	<script src="scripts/controllers/msgDialog.js"></script>
    
	
  </head>
  <body class="body">
    <div ui-i18n="{{lang}}" id="main" ng-controller="MainCtrl">
      <div>
        <alert type="{{alert.type}}" close="closeAlert()" class="alertGrid" ng-show="alert.show">{{alert.msg}}</alert>
      </div>
	  <div id="button" class="button">
	    <button type="button" id="create" class="btn btn-success" ng-click="create()">{{ 'CREATE' | translate }}</button>
	    <button type="button" id="view" class="btn btn-success" ng-click="view()">{{ 'VIEW' | translate }}</button>
        <button type="button" id="edit" class="btn btn-success" ng-click="edit()">{{ 'EDIT' | translate }}</button>
        <button type="button" id="delete" class="btn btn-success" ng-click="deleteChildren()">{{ 'DELETE' | translate }}</button>
        <button type="button" id="refresh" class="btn btn-success" ng-click="refresh()">{{ 'REFRESH' | translate }}</button>
	  </div>
      <div id="grid" ui-grid="gridOptions" ui-grid-paging ui-grid-exporter ui-grid-selection class="grid"></div>
    </div>
  </body>
</html>