/*style.css*/

.gridStyle {
    border: 1px solid rgb(212,212,212);
    width: 400px; 
    height: 300px;
}

.body {
  
}

.main {
  position: absolute;
  top: 10px;
  left: 0px;
  right: 0px;
  width: auto;
  height: auto;
}

.button {
  margin-top: 20px;
  margin-bottom: 0px;
  margin-right: 20px;
  margin-left: 20px;
  float:right;
}

.grid {
  height: 850px;
  margin-top: 75px;
  margin-bottom: 20px;
  margin-right: 20px;
  margin-left: 20px;
  text-align: center;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:5px;
}

.my-custom-menu {
  position: absolute;
}
 
.my-custom-menu .ui-grid-menu {
  padding: 0px;
}
 
.my-custom-menu .ui-grid-menu-inner {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.rotated {
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}